<h1>Angular</h1>
<courses></courses>

<favorites [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorites>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body"></div>
    <h2>Body</h2>
    <p>Some Content Here...</p>
</bootstrap-panel>


<button class="btn" [style.backgroupColor]="canSave ? 'blue': 'gray'" [style.color]="canSave ? 'white': 'black'" [style.fontWeight]="canSave ? 'bold': 'normal'" [ngStyle]="{
  'backgroundColor': canSave ? 'blue': 'gray',
  'color': canSave ? 'white': 'black'
}">
Save
</button>
<br>
<span>
  {{ task.assignee?.name }}
</span>
<br/>
<br/>
<input type="text" [appInputFormat]="'lowercase'">

<contact-form></contact-form>

