<button class="btn" [class.btn-primary]="isSelected" [class.btn-danger]="!isSelected" (click)="onClick()">
Button Test</button>

<button class='btn' (click)="loadCourses()">Load Courses</button>
<ul>
    <ul *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name }}
    </ul>
</ul>

<span>

</span>