<div class="panel panel-default">
  <div class="panel-loading">
    <ngcontent select=".heading"></ngcontent>
  </div>
  <div class="panel-body">
      <ngcontent select=".body"></ngcontent>
  </div>
</div>